.Header_header__aGV5N {
    background: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1)
}

.Header_header__container__tcVkR {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
    height: 100%
}

.Header_header__logo__FLZz8 {
    position: relative;
    max-width: 116px;
    width: 100%;
    max-height: 46px;
    aspect-ratio: 4/3
}

@media (max-width: 450px) {
    .Header_header__logo__FLZz8 {
        max-height: 30px;
        max-width: 75px
    }
}

@media (max-width: 970px) {
    .Header_header__nav__g8NmK {
        display: none
    }
}

.Header_header__navList__dKfbG {
    display: flex
}

.Header_header__navItem__oFNS9 {
    height: 46px;
    color: #525468;
    font-size: 15px
}

.Header_header__navItem__oFNS9:not(:last-child) {
    margin: 0 20px 0 0
}

@media (max-width: 1070px) {
    .Header_header__navItem__oFNS9:not(:last-child) {
        margin: 0 10px 0 0
    }
}

.Header_header__navLink__tontu {
    height: 100%;
    display: flex;
    align-items: center;
    color: inherit;
    position: relative;
    transition: .2s
}

.Header_header__navLink__tontu span {
    height: 1.5px;
    background: #8a8a8a;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    transition: .3s
}

.Header_header__navLink__tontu:hover {
    color: #278bd7
}

.Header_header__navLink__tontu:hover span {
    width: 100%
}

.Header_header__phones__O84_G {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px 0
}

.Header_header__phone__NqFkH {
    display: flex;
    align-items: center;
    background: inherit;
    transition: .2s;
    color: #525468
}

.Header_header__phone__NqFkH:hover {
    color: #278bd7
}

.Header_mobile___Ad_r {
    display: flex;
    flex-direction: column;
    gap: 6px;
    background: transparent;
    padding: 10px
}

@media (min-width: 970px) {
    .Header_mobile___Ad_r {
        display: none
    }
}

.Header_mobile___Ad_r span {
    height: 2px;
    width: 35px;
    background: #000
}

.Header_mobileNav__BRyxT {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    z-index: 98;
    display: none
}

.Header_mobileNav__active__Vuhjv {
    display: block
}

.Header_mobileNav__body__GS8sO {
    background: hsla(0, 0%, 100%, .9);
    z-index: 99;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    transform: translateX(-100%);
    animation-name: Header_mobile-body-fadeIn__nWs86;
    animation-duration: .5s;
    animation-fill-mode: forwards
}

.Header_mobileNav__body__unactive__s0Ijq {
    animation-name: Header_mobile-body-fadeOut__6IQBV;
    animation-duration: .3s;
    animation-fill-mode: none
}

@media (min-width: 970px) {
    .Header_mobileNav__BRyxT {
        display: none
    }
}

.Header_mobileNav__close__OLAju {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center
}

.Header_mobileNav__close__OLAju > * {
    height: 80%;
    width: 80%
}

.Header_mobileNav__content__9Ic0p {
    padding: 60px 0 0 40px
}

.Header_mobileNav__title__k3iXT {
    font-size: 24px;
    font-weight: 600;
    color: #000533;
    display: inline-block;
    margin: 15px 0 0
}

.Header_mobileNav__list__MCI_S {
    margin: 10px 0 0;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.Header_mobileNav__item__DeN60 {
    font-size: 16px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center
}

.Header_mobileNav__item__DeN60 > * {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #4e4e4e;
    line-height: 130%
}

@keyframes Header_mobile-body-fadeIn__nWs86 {
    0% {
        transform: translateX(-100%)
    }
    to {
        transform: translateX(0)
    }
}

@keyframes Header_mobile-body-fadeOut__6IQBV {
    0% {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}

.Footer_footer__eZW_f {
    position: relative;
    z-index: 9;
    background: #fff;
    margin: 40px 0 0
}

.Footer_footer__inner___IioU {
    background: #efefef
}

.Footer_footer__container__I_2b2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px !important
}

@media (max-width: 800px) {
    .Footer_footer__container__I_2b2 {
        display: grid;
        grid-template-areas:"logo service" "nav contacts";
        justify-content: space-around
    }
}

@media (max-width: 500px) {
    .Footer_footer__container__I_2b2 {
        justify-content: space-between
    }
}

@media (max-width: 400px) {
    .Footer_footer__container__I_2b2 {
        display: flex;
        gap: 40px;
        flex-direction: column
    }
}

.Footer_footer__imgBody__9UlJR {
    position: relative;
    max-width: 150px;
    aspect-ratio: 100/40;
    width: 100%;
    max-height: 60px;
    grid-area: logo
}

.Footer_footer__nav__0Zeb1 {
    grid-area: nav
}

.Footer_footer__contacts__YBAm0 {
    grid-area: contacts
}

.Footer_footer__navTitle___bcrS {
    font-size: 18px;
    font-weight: 500;
    color: #7d7e8c
}

.Footer_footer__navList__9_bgy {
    margin: 20px 0 0
}

.Footer_footer__navLink__HGIQl {
    display: block;
    margin: 0 0 10px;
    color: #3f3f3f;
    font-weight: 500
}

.Footer_footer__navBody__k8u20 {
    display: flex;
    margin: 20px 0 0;
    color: #3f3f3f;
    font-weight: 500;
    align-items: center;
    transition: .3s
}

.Footer_footer__navBody__k8u20:hover {
    color: #000;
    transform: scale(1.05)
}

.Footer_footer__email__rWDIn, .Footer_footer__phone___eanM {
    margin: 0 0 0 10px
}

.Footer_footer__iconsBody___GpeH {
    margin: 20px 0 0;
    display: flex
}

.Footer_footer__icon__VGq6G {
    border: 1px solid #d7d7d7;
    padding: 5px;
    color: #888;
    transition: .3s
}

.Footer_footer__icon__VGq6G:not(:last-child) {
    margin: 0 18px 0 0
}

.Footer_footer__icon__VGq6G:hover {
    color: #000;
    box-shadow: 0 7px 29px 0 hsla(240, 5%, 41%, .2);
    transform: scale(1.1)
}

.Footer_footer__col__YAIi4 {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    grid-area: service
}

.Footer_footer__col__YAIi4 > * {
    color: #3f3f3f
}

* {
    padding: 0;
    margin: 0;
    border: 0
}

*, :after, :before {
    box-sizing: border-box
}

:active, :focus, a:active, a:focus {
    outline: none
}

aside, footer, header, nav {
    display: block
}

body, html {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #fff;
    font-family: var(--gotham)
}

button, input, textarea {
    font-family: inherit
}

input::-ms-clear {
    display: none
}

button {
    cursor: pointer
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

a, a:hover, a:visited {
    text-decoration: none
}

ul li {
    list-style: none
}

img {
    vertical-align: top
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    animation-name: global-fade-in;
    animation-duration: 1.5s
}

.main {
    flex: 1 1 auto
}

.container {
    max-width: 1142px;
    padding: 0 10px;
    margin: 0 auto
}

.header {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px
}

@keyframes global-fade-in {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@font-face {
    font-family: __circle_bba65d;
    src: url(../media/3106392fe45ee1f6-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: __circle_bba65d;
    src: url(../media/6b2e1e6df049d9ff-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: __circle_bba65d;
    src: url(../media/b4233616852ae95b-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: __circle_bba65d;
    src: url(../media/1fc873da78232c5b-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: __circle_bba65d;
    src: url(../media/856b21f1c78c1289-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: __circle_bba65d;
    src: url(../media/b2b7b90389a82c90-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: __circle_Fallback_bba65d;
    src: local("Arial");
    ascent-override: 80.03%;
    descent-override: 23.50%;
    line-gap-override: 49.07%;
    size-adjust: 96.59%
}

.__className_bba65d {
    font-family: __circle_bba65d, __circle_Fallback_bba65d
}