.Utilities_bc__X8YSq {
    margin: 60px 0 60px 30px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 10px 10px;
    color: #747474
}

@media(max-width:600px) {
    .Utilities_bc__X8YSq {
        margin: 40px 0
    }
}

@media(max-width:370px) {
    .Utilities_bc__X8YSq {
        gap: 10px 5px
    }
}

.Utilities_bc__about__uh7W5 {
    color: #00b7ff;
    font-size: 5vh !important
}

.Utilities_bc__link__c86cA {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .3px
}

@media(max-width:370px) {
    .Utilities_bc__link__c86cA {
        font-size: 14px
    }
}

.Utilities_bc__linkInner__j7wgy {
    color: inherit;
    transition: .2s
}

.Utilities_bc__linkInner__j7wgy:not(:first-child) {
    margin: 0 0 0 10px
}

@media(max-width:370px) {
    .Utilities_bc__linkInner__j7wgy:not(:first-child) {
        margin: 0 0 0 5px
    }
}

.Utilities_bc__linkInner__j7wgy:hover {
    color: #5b9ccf
}

.news_news__lzhgA {
    margin: 140px 0 20px
}

.news_news__title__mFn2s {
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1.5px
}

.news_news__body__ZaxNW {
    margin: 60px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    place-items: center;
    grid-gap: 40px;
    gap: 40px
}

@media(max-width:1100px) {
    .news_news__body__ZaxNW {
        gap: 15px
    }
}

@media(max-width:930px) {
    .news_news__body__ZaxNW {
        grid-template-columns: 1fr 1fr
    }
}

@media(max-width:500px) {
    .news_news__body__ZaxNW {
        grid-template-columns: 1fr
    }
}

.news_news__col__X0vnH {
    width: 100%;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
    padding: 20px 10px;
    height: 100%;
    display: flex;
    flex-direction: column
}

@media(max-width:630px) {
    .news_news__col__X0vnH {
        padding: 10px 7px
    }
}

.news_news__imgBody__VOWiX {
    position: relative;
    height: 180px;
    width: 100%;
    aspect-ratio: 3/2
}

@media(max-width:630px) {
    .news_news__imgBody__VOWiX {
        height: 130px
    }
}

.news_news__colTitle__tlknX {
    margin: 20px 0 0;
    font-size: 18px;
    font-weight: 700;
    color: #000533;
    line-height: 130%;
    letter-spacing: .3px;
    flex: 1 1 auto
}

.news_news__date__ojwmg {
    margin: 30px 0 0;
    letter-spacing: .5px
}

.news_news__subtitle__e_eAU {
    margin: 20px 0 0;
    font-size: 16px;
    letter-spacing: .2px;
    line-height: 130%
}

.news_news__subtitle__e_eAU:first-child {
    margin: 60px 0 0
}

.news_news__empty__4EPQz {
    font-size: 40px;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: .5px;
    color: #000533
}

.news_content__hVOnb {
    margin: 140px 0 20px
}

.news_content__title__70dUK {
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1.5px
}

.news_content__imgBody___BoLU {
    margin: 60px 0 0;
    position: relative;
    max-width: 900px;
    width: 100%;
    aspect-ratio: 5/2
}

.news_content__date__B_XD7 {
    margin: 60px 0 0
}